@model IEnumerable<Gopher.Model.Domain.User>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>@Html.Translation("Generic_Name")</th>
                <th>@Html.Translation("Generic_Email")</th>
                <th>@Html.Translation("Generic_IsAdmin")</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a href="@Url.Action("Edit", "Users", new { id = item.Id })">@item.Name</a>
                    </td>
                    <td>
                        @item.Email
                    </td>
                    <td>
                        @Html.CheckBox("IsAdmin", @item.IsAdmin, new { disabled = "disabled" })
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>
