@model Gopher.Model.Domain.Translation

@{
    ViewBag.Title = "Edit";
}

<h1 class="page-header">Edit translation</h1>
<h4>@Model.LabelName</h4>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true)

    @Html.HiddenFor(model => model.LanguageId)
    @Html.HiddenFor(model => model.PageLabelId)
    @Html.HiddenFor(model => model.LabelName)

    <div class="form-group">
        @Html.LabelFor(model => model.LabelName)
        <div>
            @Html.DisplayFor(model => model.LabelName)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Text)
        <div>
            @Html.TextBoxFor(model => model.Text, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Text)
        </div>
    </div>
    <p>
        <input type="submit" name="submit" value="Save" class="btn btn-primary" />
        @if (!string.IsNullOrEmpty(Request.QueryString["lang"])) {
            @Html.ActionLink("Back", "Index", new { lang = Request.QueryString["lang"] }, new { @class = "btn btn-default" })
        } else {
            @Html.ActionLink("Back", "Index", null, new { @class = "btn btn-default" })
        }
    </p>
}

