@model IEnumerable<Gopher.Model.Domain.Translation>

@{
    ViewBag.Title = "Translations";
}

<h1 class="page-header">@ViewBag.Title</h1>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LabelName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Text)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <a href="@Url.Action("Edit", "Translations", new { label = @item.PageLabelId, lang = @item.LanguageId })">
                @Html.DisplayFor(modelItem => item.LabelName)
            </a>
        </td>
        <td>
            <a href="@Url.Action("Edit", "Translations", new { label = @item.PageLabelId, lang = @item.LanguageId })">
                @Html.DisplayFor(modelItem => item.Text)
            </a>
        </td>
    </tr>
}

</table>
