@model IEnumerable<Gopher.Model.Domain.Translation>

@{
    ViewBag.Title = "Translations";
}

<h1 class="page-header">@ViewBag.Title</h1>

@using (Html.BeginForm())
{
    <div class="form-group">
        <input type="submit" value="Clear cache" class="btn btn-sm btn-primary" />
    </div>
    if (ViewBag.CacheCleared == true)
    {
        <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only"></span></button>
            Cache successfully cleared
        </div>
    }
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LabelName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Text)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <a href="@Url.Action("Edit", "Translations", new { label = @item.PageLabelId, lang = @item.LanguageId })">
                @Html.DisplayFor(modelItem => item.LabelName)
            </a>
        </td>
        <td>
            <a href="@Url.Action("Edit", "Translations", new { label = @item.PageLabelId, lang = @item.LanguageId })">
                @Html.DisplayFor(modelItem => item.Text)
            </a>
        </td>
    </tr>
}

</table>
