@using Microsoft.AspNet.Identity
@model Gopher.ImportExport.Domain.Shop

@{
    ViewBag.Title = "Details";
}

<h1 class="page-header">
    Edit shop
</h1>
@Html.ValidationSummary()
@if (Model != null)
{
    <h4>@Model.Name</h4>
    using (Html.BeginForm("Delete", "Codes", new { id = Model.Id }, FormMethod.Post, null))
    {
        <div class="form-group">
            <input type="submit" id="btn-delete" class="btn-xs btn-danger" value="Delete this shop" />
        </div>
        <script>
            $(function () {
                $("#btn-delete").click(function () {
                    return confirm("This will delete shop @Model.Name. Are you sure you want to continue?");
                });
            });
        </script>
    }
    <hr />
}
@using (Html.BeginForm())
{
    <div class="form-group">
        <label>@Html.DisplayNameFor(model => model.ImportedId)</label>
        @Html.TextBoxFor(model => model.ImportedId, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>@Html.DisplayNameFor(model => model.Name)</label>
        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
    </div>
    <p>
        <input type="submit" name="submit" value="@Html.Translation("Generic_Save")" class="btn btn-primary" />
        <a href="@Url.Action("Index")" class="btn btn-default">
            @Html.Translation("Generic_Back")
        </a>
    </p>
}
