@using Microsoft.AspNet.Identity
@model Gopher.Model.Domain.User

@{
    ViewBag.Title = "Details";
}

<h1 class="page-header">
    Edit user
</h1>
@Html.ValidationSummary()
@if (Model != null)
{
    <h4>@Model.Name</h4>
    if (User.Identity.GetUserId() != Model.Id)
    {
        using (Html.BeginForm("Delete", "Users", new { id = Model.Id }, FormMethod.Post, null))
        {
            <div class="form-group">
                <input type="submit" id="btn-delete" class="btn-xs btn-danger" value="Delete this user" />
            </div>
            <script>
                $(function () {
                    $("#btn-delete").click(function () {
                        return confirm("This will delete user @Model.Name. Are you sure you want to continue?");
                    });
                });
            </script>
        }
    }
    <hr />
}
@using (Html.BeginForm())
{
    <div class="form-group">
        <label for="text">@Html.DisplayNameFor(model => model.Name)</label>
        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label for="email">@Html.DisplayNameFor(model => model.Email)</label>
        @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label for="LanguageId">@Html.DisplayNameFor(model => model.LanguageId)</label>

        @Html.Partial("LanguageSelect", Model != null ? (int?)Model.LanguageId : null)
    </div>
    if (Model == null || User.Identity.GetUserId() != Model.Id)
    {
        <div class="checkbox">
            <label>
                @Html.CheckBoxFor(model => model.IsAdmin)
                @Html.DisplayNameFor(model => model.IsAdmin)
            </label>
        </div>
    } else {
        <div class="form-group">
            @Html.DisplayNameFor(model => model.IsAdmin)
        </div>
    }
    <p>
        <input type="submit" name="submit" value="@Html.Translation("Generic_Save")" class="btn btn-primary" />
        <a href="@Url.Action("Index")" class="btn btn-default">
            @Html.Translation("Generic_Back")
        </a>
    </p>
}
