@model IEnumerable<Gopher.Models.CustomerViewModel>

<table class="search-result-table">
    <thead>
        <tr>
            <th rowspan="2" style="vertical-align:middle; text-align:center">
                @Html.Translation("Generic_Shop")
            </th>
            <th style="vertical-align:middle; text-align:center">
                @Html.Translation("Generic_CustomerId")
            </th>
            <th rowspan="2" style="vertical-align:middle; text-align:center">
                @Html.Translation("Generic_Name")
                <br />
                (@Html.Translation("Generic_Kana"))
            </th>
            <th rowspan="2" style="vertical-align:middle; text-align:center">
                @Html.Translation("Generic_Sex")
            </th>
            <th colspan="2" style="vertical-align:middle; text-align:center">
                @Html.Translation("Generic_ContactInfo")
            </th>
        </tr>
        <tr>
            <th style="vertical-align:middle; text-align:center">
                @Html.Translation("Generic_Prefecture")
            </th>
            <th style="vertical-align:middle; text-align:center">
                @Html.Translation("Generic_Phone")
            </th>
            <th style="vertical-align:middle; text-align:center">
                @Html.Translation("Generic_Email")
            </th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr>
            <td rowspan="2">@item.Shop</td>
            <td>@item.CustomerId</td>
            <td rowspan="2">
                @item.NameKanji
            <br />
            @if (!string.IsNullOrEmpty(item.NameKana))
            {
                <text>(@item.NameKana)</text>
            }
        </td>
        <td rowspan="2">@item.Sex</td>
        <td rowspan="2">@item.Phone</td>
        <td rowspan="2">@item.Email</td>
    </tr>
        <tr>
            <td>
                @if (!string.IsNullOrEmpty(item.Prefecture))
                {
                    @item.Prefecture
                }
                else
                {
                    <text>&nbsp;</text>
                }
            </td>
        </tr>
    }

</table>
