@using Gopher.ImportExport.Domain
@model Gopher.Models.CustomerSearchViewModel
<table>
    <tr>
        <td class="td-gray">
            Customer Id
        </td>
        <td colspan="3">
            @Html.TextBoxFor(m => m.Filter.CustomerId)
        </td>
    </tr>
    <tr>
        <td class="td-gray">
            Shop
        </td>
        <td>
            <select></select>
        </td>
        <td class="td-gray">
            Prefecture
        </td>
        <td>
            <select id="Filter_Prefecture" name="Filter.Prefecture">
                <option value="">-</option>
                @foreach (var pref in Model.Prefectures)
                {
                    <option value="@pref">@pref</option>
                }
            </select>
            @if (Model.Filter != null && !string.IsNullOrEmpty(Model.Filter.Prefecture))
            {
                <script>
                    $(function () {
                        $("#Filter_Prefecture").val("@Model.Filter.Prefecture");
                    });
                </script>
            }
        </td>
    </tr>
    <tr>
        <td class="td-gray">
            Name (Kanji)
        </td>
        <td>
            @Html.TextBoxFor(m => m.Filter.NameKanji)
        </td>
        <td class="td-gray">
            Name (Kana)
        </td>
        <td>
            @Html.TextBoxFor(m => m.Filter.NameKana)
        </td>
    </tr>
    <tr>
        <td class="td-gray">
            Sex
        </td>
        <td>
            @if (Model.Filter == null || Model.Filter.Sex.Contains(Sex.Male))
            {
                <input type="checkbox" id="sex-male" name="Filter.Sex" value="1" checked="checked" />
            }
            else
            {
                <input type="checkbox" id="sex-male" name="Filter.Sex" value="1" />
            }
            <label style="font-weight:normal;" for="sex-male">@Html.Translation("Generic_Male")</label>
            @if (Model.Filter == null || Model.Filter.Sex.Contains(Sex.Female))
            {
                <input type="checkbox" id="sex-female" name="Filter.Sex" value="2" checked="checked" />
            }
            else
            {
                <input type="checkbox" id="sex-female" name="Filter.Sex" value="2" />
            }
            <label style="font-weight:normal;" for="sex-female">@Html.Translation("Generic_Female")</label>
        </td>
        <td class="td-gray">
            Month of birth
        </td>
        <td>
            <select id="mob" name="Filter.MonthOfBirth">
                <option value="">-</option>
                @for (int i = 1; i <= 12; i++)
                {
                    <option value="@i">@i</option>
                }
            </select>
            @if (Model.Filter != null && Model.Filter.MonthOfBirth != null)
            {
                <script>
                    $(function () {
                        $("#mob").val(@Model.Filter.MonthOfBirth);
                    });
                </script>
            }
        </td>
    </tr>
    <tr>
        <td class="td-gray">Email</td>
        <td colspan="3">@Html.TextBoxFor(m => m.Filter.Email)</td>
    </tr>
    <tr>
        <td class="td-gray">Email (mobile)</td>
        <td colspan="3">@Html.TextBoxFor(m => m.Filter.EmailMobile)</td>
    </tr>
    <tr>
        <td class="td-gray">Phone</td>
        <td colspan="3">@Html.TextBoxFor(m => m.Filter.Phone)</td>
    </tr>
    <tr>
        <td class="td-gray">Times purchased</td>
        <td colspan="3">@Html.TextBoxFor(m => m.Filter.TimesPurchased.Min) ~ @Html.TextBoxFor(m => m.Filter.TimesPurchased.Max)</td>
    </tr>
    <tr>
        <td class="td-gray">Product warranty serial</td>
        <td colspan="3">@Html.TextBoxFor(m => m.Filter.ProductWarranty)</td>
    </tr>
</table>
<div id="search-button-wrapper">
    <input type="submit" value="Search" name="search" id="search" />
</div>