@{
    ViewBag.Title = Html.Translation("Header_Import");
}
<h2>@ViewBag.Title</h2>

<form action="/upload/uploadhandler.ashx" method="post" enctype="multipart/form-data" id="import-form">
    <div>
        <input type="file" name="file" id="file" />
    </div>
    <p class="help-block">
        @Html.Translation("Import_Info")
    </p>
    <input type="submit" value="@Html.Translation("Import_Upload")" class="btn btn-primary" />
</form>
<div id="uploading-result" style="display:none;" class="alert">
    <div class="panel" id="uploading-result-panel">
        <div class="panel-heading">
            <h3 class="panel-title" id="status-message"></h3>
        </div>
        <div class="panel-body">
            <h3>@Html.Translation("Import_Summary")</h3>
            <div class="table-responsive">
                <table class="table table-striped ur-table">
                    <tr id="status-row">
                        <td class="ur-name">
                            @Html.Translation("Generic_Status")
                        </td>
                        <td>
                            <strong id="status-value">
                            </strong>
                        </td>
                    </tr>
                    <tr id="file-name-row">
                        <td>
                            @Html.Translation("Import_FileName")
                        </td>
                        <td>
                            <strong id="file-name-value">
                            </strong>
                        </td>
                    </tr>
                    <tr id="error-message-row" class="danger" style="display:none;">
                        <td>
                            @Html.Translation("Generic_Error")
                        </td>
                        <td>
                            <strong id="error-message-value">
                            </strong>
                        </td>
                    </tr>
                </table>
            </div>

            <h3>Parser</h3>
            <div class="table-responsive">
                <table class="table table-striped ur-table">
                    <tr id="parse-status-row">
                        <td class="ur-name">
                            @Html.Translation("Import_ParserStatus")
                        </td>
                        <td>
                            <strong id="parse-status-value"></strong>
                        </td>
                    </tr>
                    <tr id="file-format-row">
                        <td>
                            @Html.Translation("Import_FileFormat")
                        </td>
                        <td>
                            <strong id="file-format-value">
                            </strong>
                        </td>
                    </tr>
                    <tr id="file-size-row">
                        <td>
                            @Html.Translation("Import_FileSize")
                        </td>
                        <td>
                            <strong id="file-size-value"></strong>
                        </td>
                    </tr>
                    <tr id="rows-infile-row">
                        <td>
                            @Html.Translation("Import_RowsInFile")
                        </td>
                        <td>
                            <strong id="rows-infile-value"></strong>
                        </td>
                    </tr>
                    <tr id="parse-message-row" style="display:none;" class="danger">
                        <td>
                            @Html.Translation("Generic_Error")
                        </td>
                        <td>
                            <strong id="parse-message-value"></strong>
                        </td>
                    </tr>
                </table>
            </div>
            
            <h3>@Html.Translation("Import_DatabaseImport")</h3>
            <div class="table-responsive">
                <table class="table table-striped ur-table">
                    <tr id="db-status-row">
                        <td class="ur-name">
                            @Html.Translation("Import_DatabaseImportStatus")
                        </td>
                        <td>
                            <strong id="db-status-value"></strong>
                        </td>
                    </tr>
                    <tr id="rows-affected-row">
                        <td>
                            @Html.Translation("Import_RowsAffected")
                        </td>
                        <td>
                            <strong id="rows-affected-value"></strong>
                        </td>
                    </tr>
                    <tr id="db-message-row" class="danger" style="display:none;">
                        <td>
                            @Html.Translation("Generic_Error")
                        </td>
                        <td style="width:100%">
                            <strong id="db-message-value"></strong>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<div style="display:none;" id="loading-bar">
    <img src="~/content/img/loader.gif" />
</div>

<script>
    function bytesToSize(bytes) {
        if(bytes == 0) return '0 Bytes';
        var k = 1000;
        var sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'];
        var i = Math.floor(Math.log(bytes) / Math.log(k));
        return (bytes / Math.pow(k, i)).toPrecision(3) + ' ' + sizes[i];
    }

    function renderUploadResult(response) {
        if (response.status == 0) {
            $("#status-message").text("@Html.Translation("Import_SuccessfullyUploaded")");
            $("#uploading-result-panel").addClass("panel-success");
            $("#status-row").addClass("success");
            $("#status-value").text("@Html.Translation("Generic_Success")");
        } else {
            $("#status-message").text("@Html.Translation("Import_ErrorUploadingFile")");
            $("#uploading-result-panel").addClass("panel-danger");
            $("#status-row").addClass("danger");
            $("#status-value").text("@Html.Translation("Generic_Error")");
        }

        if (response.message) {
            $("#error-message-row").show();
            $("#error-message-value").text(response.message);
        }

        $("#file-name-value").text(response.fileName);

        if (response.parse.status == 1) {
            $("#parse-status-row").addClass("danger");
            $("#parse-status-value").text("@Html.Translation("Generic_Error")");
        } else {
            $("#parse-status-row").addClass("success");
            $("#parse-status-value").text("@Html.Translation("Generic_Success")");
        }

        if (response.parse.type == 1) {
            $("#file-format-value").text("ECCube");
        } else if (response.parse.type == 2) {
            $("#file-format-value").text("TempoVisor");
        } else {
            $("#file-format-row").addClass("danger");
            $("#file-format-value").text("Unrecognized");
        }

        $("#file-size-value").text(bytesToSize(response.parse.size));
        $("#rows-infile-value").text(response.parse.rows);
        if (response.parse.message) {
            $("#parse-message-row").show();
            $("#parse-message-value").text(response.parse.message);
        }

        if (response.bulkInsert.status == 0) {
            $("#db-status-row").addClass("success");
            $("#db-status-value").text("@Html.Translation("Generic_Success")");
        } else {
            $("#db-status-row").addClass("danger");
            $("#db-status-value").text("@Html.Translation("Generic_Error")");
        }

        $("#rows-affected-value").text(response.bulkInsert.affected);
        
        if (response.bulkInsert.message) {
            $("#db-message-row").show();
            $("#db-message-value").text(response.bulkInsert.message);
        }
    };

    $("#import-form").submit(function (event) {
        event.preventDefault();
        var self = $(this);
        self.hide();
        $("#loading-bar").show();

        self.ajaxSubmit({
            success: function (response) {
                renderUploadResult(response);
            },
            complete: function () {
                $("#uploading-result").show();
                $("#loading-bar").hide();
            }
        });
    });
</script>
