@{
    ViewBag.Title = "Home Page";
}
@using Gopher.Models
@model Gopher.Models.CustomerSearchViewModel

<form id="search-form" method="post" action="@Url.Action()" class="search-form-table">
    <h4 class="search-result-title">@Html.Translation("Header_CustomerSearch")</h4>
    @Html.Partial("CustomerSearchForm", Model)
    @if (Model != null && Model.Customers != null)
    {
        <div>
            <h4 class="search-result-title">@Html.Translation("Generic_SearchResults")</h4>
            <div class="search-result-header">
                <span class="search-result-count"><span class="result-count">@Model.TotalCount</span> @Html.Translation("Search_Results")</span>
                @if (Model.TotalCount > 0)
                {
                    <input type="submit" value="@Html.Translation("Search_DownloadCSV")" name="download" id="download" />
                }
            </div>
            @if (Model.TotalCount > 0)
            {
                <div class="pagination-panel">
                    @Html.Partial("Pagination", Model.PaginationViewModel)
                </div>
                @Html.Partial("CustomerList", Model.Customers)
            }
        </div>
    }
</form>

<script>
    //$("#search-form").submit(function (event) {
    //    event.preventDefault();
    //    var self = $(this);
    //    $("#loading-bar").show();

    //    self.ajaxSubmit({
    //        success: function (response) {
    //            renderUploadResult(response);
    //        },
    //        complete: function () {
    //            $("#uploading-result").show();
    //            $("#loading-bar").hide();
    //        }
    //    });
    //});
</script>