@{
    ViewBag.Title = "My account";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
            <li class="@(ViewBag.ActiveTab == "manage" ? "active" : string.Empty)">
                <a href="@Url.Action("Manage")">
                    @Html.Translation("Account_Tabs_ChangeMyPassword")
                </a>
            </li>
            <li class="@(ViewBag.ActiveTab == "preferences" ? "active" : string.Empty)">
                <a href="@Url.Action("Preferences")">
                    @Html.Translation("Account_Tabs_MyPreferences")
                </a>
            </li>
        </ul>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <div>
            @RenderBody()
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}