@{
    ViewBag.Title = "My account";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
            <li class="@(ViewBag.ActiveTab == "manage" ? "active" : string.Empty)">
                @Html.ActionLink("Change my password", "Manage", "Account")
            </li>
            <li class="@(ViewBag.ActiveTab == "preferences" ? "active" : string.Empty)">
                @Html.ActionLink("My preferences", "Preferences", "Account")
            </li>
        </ul>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <div>
            @RenderBody()
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}